@font-face {
    font-family: 'Droid';
     
    src:url(/font/Droid.Arabic.Kufi_DownloadSoftware.iR_.ttf);
}
body {
    direction: rtl;
    margin: 0;
    font-family: 'Droid','Courier New', Courier, monospace !important;
  
}
 